{% extends "layout.html" %}
{% from 'template_macros.html' import cta %}

{% block title %}{{ c_page.page_title }}{% endblock %}

{%- block content %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 aboutus">
                    <div class="aboutus-title">{{ c_page.intro.title }}</div>
                    <div class="aboutus-desc">{{ c_page.intro.text }}</div>
                </div>
            </div>
        </div>
{{- cta(c_page.cta.top) }}
        <div class="team-wrapper">
            <div class="container">
            {%- for item in c_page.team %}
                <div class="row team-member">
                    <div class="{{ loop.cycle('col-xs-12 col-sm-3 col-md-2 col-sm-offset-1', 'col-xs-12 col-sm-3 col-md-2 col-sm-push-8 col-md-push-9') }}">
                        <div class="member-img">
                            <img class="fit-center" src="{{ url_for('static', filename=item.img.file) }}" alt="{{ item.img.desc }}">
                        </div>
                    </div>
                    <div class="{{ loop.cycle('col-xs-12 col-sm-7 col-md-8', 'col-xs-12 col-sm-7 col-md-8 col-sm-offset-1 col-sm-pull-3 col-md-pull-2') }}">
                        <div class="member-txt">
                            <div>
                                <div class="member-name">{{ item.name }}</div>
                                <div class="member-title">{{ item.title }}</div>
                                <div class="member-desc">{{ item.desc }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {%- endfor %}
            </div>
        </div>
{{- cta(c_page.cta.bottom) }}
{%- endblock content %}