{% extends "layout.html" %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 callus">
                    <a name="call"></a>
                    <div class="callus-title">{{ c_page.call.title }}</div>
                    <div class="callus-desc">{{ c_page.call.text }}</div>
                    <div class="callus-action"><a href="{{ c_page.call.action.url }}">{{ c_page.call.action.text.replace(' ', '&nbsp;')|safe }}</a></div>
                </div>
            </div>
        </div>
        <div class="message-title">{{ c_page.message.title }}</div>
        <div class="message-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4 col-sm-offset-3 col-lg-offset-4">
                        <a name="message"></a>
                        <div class="alert msg-form-alert hide" role="alert"></div>
                        <form role="form" action="/api/message" method="POST" class="message-form">
                            <div class="form-group">
                                {{ msg_form.name.label(class='sr-only') }}
                                {{ msg_form.name(class='form-control input-lg', placeholder='Name', required='') }}
                            </div>
                            <div class="form-group">
                                {{ msg_form.email.label(class='sr-only') }}
                                {{ msg_form.email(class='form-control input-lg', placeholder='Email', type='email', required='') }}
                            </div>
                            <div class="form-group">
                                {{ msg_form.text.label(class='sr-only') }}
                                {{ msg_form.text(class='form-control input-lg', placeholder='Message', rows=6, required='') }}
                            </div>
                            <div style="display:none;"><input id="message-csrf_token" name="message-csrf_token" type="hidden" value=""></div>
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-wrapper">
            <div class="container">
                <div class="subscribe-title">{{ c_page.subscribe.title }}</div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4 col-sm-offset-3 col-lg-offset-4">
                        <a name="subscribe"></a>
                        <div class="alert subs-form-alert hide" role="alert"></div>
                        <form role="form" action="/api/subscribe" method="POST" class="subscribe-form">
                            <div class="input-group">
                                {{ subs_form.email.label(class='sr-only') }}
                                <div class="form-group">
                                    {{ subs_form.email(class='form-control input-lg', placeholder='Enter email', type='email', required='') }}
                                </div>
                                <div style="display:none;"><input id="subscribe-csrf_token" name="subscribe-csrf_token" type="hidden" value=""></div>
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-lg btn-primary" value="Subscribe">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

    {%- block scripts %}
        {{ super() }}
        <script src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-placeholder/2.0.8/jquery.placeholder.min.js"></script>
    {%- endblock scripts %}
