{%- macro lightbox_setter(cont) %}
    {%- if cont.enabled -%}
        {%- if cont.is_video -%}
            video-gallery
        {%- else -%}
            image-gallery
        {%- endif -%}
    {%- endif -%}
{%- endmacro %}

{%- macro cta(cont) %}
        <div class="cta-wrapper">
            <div class="container">
                <div class="cta">
                    <div>{{ cont.text }} <span class="cta-action"><a href="{{ cont.action.url }}">{{ cont.action.text.replace(' ', '&nbsp;')|safe }}</a></span>
                    </div>
                </div>
            </div>
        </div>
{%- endmacro %}

{%- macro main_crs(cont) %}
        <div class="container">
            <div class="main-carousel">
            {%- for item in cont %}
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                        <div class="slide-txt">
                            <div class="slide-txt-wrapper">
                                <div class="slide-title">{{ item.title }}</div>
                                <div class="slide-text">{{ item.text }}</div>
                                <div class="slide-action">
                                    <a href="{{ item.action.url }}">{{ item.action.text }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <a href="{{ item.img.url }}">
                            <div class="slide-img">
                                <img class="fit-center center-block" src="{{ url_for('static', filename=item.img.file) }}" alt="{{ item.img.desc }}">
                                <span class="sr-only">{{ item.img.desc }}</span>
                            </div>
                        </a>
                    </div>
                </div>
            {%- endfor %}
            </div>
        </div>
{%- endmacro %}

{%- macro sec_crs(cont) %}
        <div class="sec-carousel-wrapper">
            <div class="container">
                <div class="sec-carousel">
                {%- for item in cont %}
                    <div>
                        <a class="{{ lightbox_setter(item.img.lightbox) }}" href="{{ item.img.url }}">
                            <div class="sec-slide-img">
                                <img class="fit-center center-block" src="{{ url_for('static', filename=item.img.file) }}" alt="{{ item.img.desc }}">
                                <span class="sr-only">{{ item.img.desc }}</span>
                            </div>
                        </a>
                        <div class="sec-slide-title">{{ item.title }}</div>
                        <div class="sec-slide-text">{{ item.text }}</div>
                        <div class="sec-slide-action">
                            <a class="{{ lightbox_setter(item.action.lightbox) }}" href="{{ item.action.url }}">{{ item.action.text }}</a>
                        </div>
                    </div>
                {%- endfor %}
                </div>
            </div>
        </div>
{%- endmacro %}

{%- macro product_crs(cont) %}
        <div class="product-carousel-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="product-carousel">
                        {%- for item in cont %}
                            <div>
                                <a href="{{ item.url }}">
                                    <div class="product-slide-img">
                                        <img class="fit-center center-block" src="{{ url_for('static', filename=item.file) }}" alt="{{ item.desc }}">
                                    </div>
                                    <div class="product-slide-title">{{ item.title }}</div>
                                </a>
                            </div>
                        {%- endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%- endmacro %}

{%- macro description(cont) %}
        <div class="description-wrapper">
            <div class="container">
                <div class="row description">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        {{ cont }}
                    </div>
                </div>
            </div>
        </div>
{%- endmacro %}

{%- macro client_crs(cont) %}
        <div class="client-wrapper">
            <div class="container">
                <div class="client-title">{{ cont.title }}</div>
                <div class="client-carousel">
                {%- for item in cont.clients %}
                    <div>
                        <a href="{{ item.url }}" rel="nofollow" target="_blank">
                            <div class="client-img">
                                <img class="fit-center center-block" src="{{ url_for('static', filename=item.file) }}" alt="{{ item.desc }}">
                                <span class="sr-only">{{ item.desc }}</span>
                            </div>
                        </a>
                    </div>
                {%- endfor %}
                </div>
            </div>
        </div>
{%- endmacro %}
