{%- macro cta(cont, cls) %}
        <div class="cta-wrapper">
            <div class="container">
                <div class="{{ cls }}">
                    <div>{{ cont.text }} <span class="cta-action"><a href="{{ cont.action.url }}">{{ cont.action.text.replace(' ', '&nbsp;')|safe }}</a></span>
                    </div>
                </div>
            </div>
        </div>
{%- endmacro %}

{%- macro breadcrumb(cont) %}
        <div class="container breadcrumb">
            <div>{{ cont }}</div>
        </div>
{%- endmacro %}

{%- macro main_crs(cont) %}
        <div class="container">
            <div class="main-carousel">
            {%- for item in cont.slides %}
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                        <div class="slide-txt">
                            <div class="slide-txt-wrapper">
                                <div class="slide-title">{{ item.title }}</div>
                                <div class="slide-copy">{{ item.text }}</div>
                                <div class="slide-action">
                                    <a href="{{ item.action.url }}">{{ item.action.text }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <a href="{{ item.img.url }}">
                            <div class="slide-img">
                                <img src="{{ url_for('static', filename=item.img.file) }}" alt="{{ item.img.desc }}">
                            </div>
                        </a>
                    </div>
                </div>
            {%- endfor %}
            </div>
        </div>
{%- endmacro %}

{%- macro sec_crs(cont) %}
        <div class="sec-carousel-wrapper">
            <div class="container">
                <div class="sec-carousel">
                {%- for item in cont.slides %}
                    <div>
                        <a href="{{ item.img.url }}">
                            <div class="sec-slide-img">
                                <img src="{{ url_for('static', filename=item.img.file) }}" alt="{{ item.img.desc }}">
                            </div>
                        </a>
                        <div class="sec-slide-title">{{ item.title }}</div>
                        <div class="sec-slide-copy">{{ item.text }}</div>
                        <div class="sec-slide-action">
                            <a href="{{ item.action.url }}">{{ item.action.text }}</a>
                        </div>
                    </div>
                {%- endfor %}
                </div>
            </div>
        </div>
{%- endmacro %}

{%- macro middle_text(cont) %}
        <div class="middle-text-wrapper">
            <div class="container">
                <div class="middle-text">
                    <div>{{ cont }}</div>
                </div>
            </div>
        </div>
{%- endmacro %}

{%- macro clients_crs(cont) %}
        <div class="clients-wrapper">
            <div class="container">
                <div class="clients-title">{{ cont.title }}</div>
                <div class="clients-carousel">
                {%- for item in cont.clients %}
                    <div>
                        <a href="{{ item.url }}">
                            <div class="clients-img">
                                <img src="{{ url_for('static', filename=item.file) }}" alt="{{ item.desc }}">
                            </div>
                        </a>
                    </div>
                {%- endfor %}
                </div>
            </div>
        </div>
{%- endmacro %}


