/* global css start */
html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #2E3234;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/* h1, h2, h3, h4, h5, h6, p { */
/*     display: inline; */
/*     font-size: 100%; */
/*     font-weight: normal; */
/*     margin: 0; */
/*     padding: 0; */
/* } */

a, a:active, a:focus {
    outline: none;
}

a, a:link {
    text-decoration: none !important;
}

ul {
    //list-style-type: none;
    padding: 0;
}

.fit-center {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.hide {
    display: none !important;
}

.alert {
    text-align: center;
}

.js-fouc {
    opacity: 0;
}

.browsehappy {
    z-index: 102;
}

.suboptimal {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    text-align: center;
    font-weight: 900;
    font-size: 105%;
    color: white;
    background-color: #ae0000;
    padding: 5px 0;
}

.suboptimal a,
.suboptimal a:hover,
.suboptimal a:active,
.suboptimal a:visited {
    color: yellow;
    text-decoration: underline !important;
}
/* global css end */


/* header start */
.navbar-brand {
    padding: 0;
    padding-left: 15px;
    width: auto;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-brand img {
    width: auto;
    height: 50px;
}

.navbar-toggle {
    margin-top: 23px;
    margin-bottom: 23px;
}

.navbar-inverse {
    background-color: transparent;
}

.navbar {
    border: none;
}

.nav > li > a {
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 180%;
    color: #BDC3C7;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:visited {
    color: #BDC3C7;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-nav > li > a.current {
    color: #AD1746;
}

.navbar-inverse .navbar-nav > li > a.current {
    font-weight: 700;
}
/* header end */


/* jquery slick start */
.slick-list {
   //overflow: visible;
}

.slick-prev {
    //padding-left: 20px; chrome;
    padding-left: 30px;
    opacity: 0.3;
    color: grey;
}

.slick-next {
    padding-right: 40px;
    opacity: 0.3;
    color: grey;
}

.slick-prev:before, .slick-next:before {
    color: grey;
}

.slick-dots {
   bottom: auto;
}

.slick-dots li button:before {
    color: grey;
    opacity: 0.3;
}

.slick-dots li.slick-active button:before {
    color: grey;
    opacity: 0.7;
}
/* jquery slick end */


/* clients start */
.client-wrapper {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.client-title {
    font-weight: 700;
    font-size: 120%;
    color: #b2b5b7;
    text-align: center;
    margin-bottom: 40px;
}

.client-img {
    width: 100%;
    height: 50px;
    opacity: 0.85;
}
/* clients end */


/* product carousel start */
.product-carousel-wrapper {
    background-color: #2F3335;
    margin-top: 15px;
    border-top: 1px solid #34383A;
    border-bottom: 1px solid #34383A;
}

.product-carousel {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.product-slide-img {
    width: 100%;
    height: 40px;
}

.product-slide-title {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 115%;
    font-weight: 700;
    padding-top: 3px;
    text-transform: uppercase;
}

.product-carousel a, .product-carousel a:visited {
    color: #636566;
}

.product-carousel a:hover,
.product-carousel a:active,
.product-carousel a.current {
    color: #b71a53;
}
/* product carousel end */


/* secondary carousel start */
.sec-carousel-wrapper {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 20px;
}

.sec-slide-img {
    width: 100%;
    height: 150px;
}

.sec-slide-title, .sec-slide-text, .sec-slide-action {
    text-align: center;
}

.sec-slide-title {
    margin-top: 20px;
    font-size: 200%;
    color: #6c6d6d;
    font-weight: 400;
}

.sec-slide-text {
    margin-top: 10px;
    font-size: 150%;
    color: #424242;
    font-weight: 300;
}

.sec-slide-action {
    margin-top: 5px;
    font-size: 150%;
    color: #3498db;
    font-weight: 700;
}
/* secondary carousel end */


/* main carousel start */
.main-carousel {
    padding-top: 30px;
    padding-bottom: 30px;
}

.slide-img {
    width: inherit;
    height: 150px;
}

.slide-txt {
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.1;
}

.slide-title {
    font-size: 230%;
    color: #c9c9c9;
}

.slide-text {
    font-size: 150%;
    color: #878787;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 10px;
}

.slide-action {
    font-size: 150%;
    color: #3498db;
    font-weight: 700;
}
/* main carousel end */


/* description start */
.description-wrapper {
    background-color: #eef1f2;
}

.description {
    font-weight: 300;
    font-size: 140%;
    color: #6c6d6d;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* description end */


/* call to action start */
.cta-wrapper {
    background-color: #eef1f2;
}

.cta {
    font-weight: 300;
    font-size: 180%;
    color: #6c6d6d;
    height: 120px;
    width: 100%;
    display: table;
    text-align: center;
}

.cta > div {
    display: table-cell;
    vertical-align: middle;
}

.cta-action {
    font-weight: 700;
    color: #3498db;
}
/* call to action end */


/* footer start */
.footer-menu a {
    font-weight: 700;
    font-size: 180%;
    color: #BDC3C7;
}

.footer-menu a:hover {
    color: #AD1746;
}

.footer-menu a.current {
    color: #AD1746;
}

.footer-social-wrapper, .footer-menu-wrapper {
    height: 100px;
}

.footer-social, .footer-menu {
    text-align: justify;
    //height: 30px;
    padding-top: 35px;
}

.footer-social {
    padding-top: 40px;
}

.footer-social img {
    height: 30px;
}

.footer-social:after, .footer-menu:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.footer-social li, .footer-menu li {
    display: inline-block;
}
/* footer end */


/* about us start */
.aboutus {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.aboutus-title {
    font-weight: 300;
    font-size: 200%;
    color: #c9c9c9;
    margin-bottom: 30px;
}

.aboutus-text {
    font-weight: 100;
    font-size: 160%;
    color: #bababa;
}

.team-wrapper {
 background-color: white;
}

.team-member {
margin-top: 50px;
margin-bottom: 50px;
}

.member-txt {
    display: table;
}

.member-txt > div {
    display: table-cell;
    vertical-align: middle;
}

.member-name {
    color: #5b5b5b;
    font-weight: 300;
    font-size: 240%;
}

.member-title {
    color: #b2b5b7;
    font-weight: 900;
    font-size: 160%;
}

.member-text {
    color: #6c6d6d;
    font-weight: 300;
    font-size: 160%;
    margin-top: 10px;
}
/* about us end */


/* contact start */
.callus {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.callus-title {
    font-weight: 300;
    font-size: 200%;
    color: #c9c9c9;
}

.callus-desc {
    font-weight: 100;
    font-size: 160%;
    color: #bababa;
    margin-top: 30px;
    margin-bottom: 30px;
}

.callus-action {
    font-weight: 700;
    font-size: 200%;
}

.message-title {
    background-color: #eef1f2;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 220%;
    color: #6c6d6d;
}

.message-wrapper {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

.subscribe-wrapper {
    background-color: #eef1f2;
    padding-top: 40px;
    padding-bottom: 50px;
}

.input-group-btn {
    vertical-align: top;
}

.subscribe-form .help-block {
    margin-top: 0;
}

.subscribe-title {
    padding-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 220%;
    color: #6c6d6d;
}
/* contact end */


/* tablets */
@media (min-width : 768px) {

    /* header start */
    .nav > li > a {
        margin-left: 30px;
        margin-top: 40px;
        text-align: left;
    }
    .navbar {
        margin-bottom: 0;
    }
    /* header end */

    /* main carousel start */
    .slide-img, .slide-txt {
        height: 300px;
    }

    .slide-txt {
        text-align: left;
        margin-bottom: 0;
        display: table;
    }

    .slide-txt-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .slide-title {
        font-size: 320%;
    }

    .slide-text {
        font-size: 155%;
        margin-top: 12%;
    }

    .slide-action {
        font-size: 155%;
    }
    /* main carousel end */

    /* description start */
    .description {
        font-size: 160%;
    }
    /* description end */

    /* about us start */
    .aboutus {
        margin-top: 50px;
    }

    .aboutus-title {
        font-size: 300%;
        margin-bottom: 30px;
    }

    .aboutus-text {
        font-size: 200%;
    }

    .member-img {
        height: auto;
    }

    .member-name {
        font-size: 300%;
    }

    .member-title {
        font-size: 180%;
    }
    /* about us end */


    /* contact start */
    .callus {
        margin-top: 50px;
    }

    .callus-title {
        font-size: 300%;
    }

    .callus-desc {
        font-size: 200%;
    }

    .callus-action {
        font-weight: 700;
        font-size: 280%;
    }
    /* contact end */

}


/* medium desktops */
@media (min-width : 992px) {

    /* header start */
    .navbar {
        margin-top: 15px;
    }

    .nav > li > a {
        margin-left: 50px;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 200%;
    }
    /* header end */

    /* main carousel start */
    .slide-img, .slide-txt {
        height: 400px;
    }

    .slide-title {
        font-size: 420%;
    }

    .slide-text {
        font-size: 187%;
        margin-top: 15%;
    }

    .slide-action {
        font-size: 187%;
    }
    /* main carousel end */

    /* description start */
    .description {
        font-size: 180%;
    }
    /* description end */

    /* about us start */
    .aboutus-title {
        font-size: 340%;
        margin-bottom: 50px;
    }

    .aboutus-text {
        font-size: 220%;
    }
    /* about us end */

    /* contact start */
    .callus {
        margin-bottom: 70px;
    }

    .callus-title {
        font-size: 340%;
    }

    .callus-desc {
        font-size: 220%;
    }
    /* contact end */

}


/* large desktops */
@media (min-width : 1200px) {

    /* header start */
    .nav > li > a {
        margin-left: 70px;
    }
    /* header end */

    /* main carousel start */
    .slide-title {
        font-size: 500%;
    }

    .slide-text {
        font-size: 210%;
    }

    .slide-action {
        font-size: 210%;
    }
    /* main carousel end */

}
